runs
test_images
reports
prototype/sort
prototype/sample.mp4
wandb
localFolder
venv
userSession

logs.txt
.pt
*.jpg
**/.env
**/test_script.py
**/.mp4
**/test.py
**/tempCodeRunnerFile.py
**/__pycache__

.vscode/settings.json
tests/unit/test_vehicle_pricing_app.py
database/test.db