runs
test_images
models
reports
prototype/sort
prototype/sample.mp4
wandb
localFolder
venv

.pt
*.jpg
test_script.py
**/.mp4
**/test.py
**/tempCodeRunnerFile.py
**/__pycache__

.vscode/settings.json
tests/unit/test_vehicle_pricing_app.py
