CTkTable==1.1
CTkTable==1.1
customtkinter==5.2.2
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==10.0.0
Pillow==10.2.0
pytesseract==0.3.10
scikit_learn==1.4.1.post1
ultralytics==8.1.24
